{% extends 'index.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block header %}
<div class="r-offcanvas">
   <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header d-flex justify-content-end">
         <button type="button" class="r-btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i
               class="text-white fa-solid fa-xmark"></i></button>
      </div>
      <div class="offcanvas-body text-center">
         <a class="navbar-brand" href="{% url "pages:home" %}">
            <div class="align-items-center">
               <img style="width:140px;" src="{% static 'images/mysite/logo.png' %}" />
            </div>
         </a>
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:service' %}">Our Services</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:investor' %}">Investor</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:career' %}">Careers</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url "pages:about" %}">Contact Us</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:dashboard' %}">Dashboard</a>
            </li>
            {% endif %}
         </ul>
         {% if not request.user.is_authenticated %}
         <a class="px-2 py-1" href="{% url "pages:login" %}"><button class="btn-theme ms-lg-auto"><b
                  class="text-primary">Login</b></button></a>
         {% else %}
         <a class="px-2 py-1" href="{% url "pages:logout" %}"><button class="btn-theme ms-lg-auto"><b
                  class="text-primary">Logout</b></button></a>
         {% endif %}
      </div>
   </div>
</div>
<nav class="navbar navbar-expand-lg bg-header-new">
   <div class="container py-3">
      <a class="navbar-brand d-lg-none" href="#">
         <img style="width:140px;" src="{% static 'images/mysite/logo.png' %}" class="logo" alt="">
      </a>
      <button class="d-lg-none r-offcanvas-ini" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
         <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:service' %}">Our Services</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:investor' %}">Investor</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:career' %}">Careers</a>
            </li>
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url "pages:about" %}">Contact Us</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
               <a class="px-2 py-1" href="{% url 'pages:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
               <a href="{% url "pages:logout" %}" class="px-2 py-1">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
               <a href="{% url "pages:login" %}" class="px-2 py-1">Login</a>
            </li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>

<section class="header-new container-fluid d-flex align-items-center">
   <div class="container">
      <div class="row postion-relative">
         <div class="d-flex justify-content-center">
            <img src="{% static 'images/mysite/logo.png' %}" class="r-header-logo img-fluid" alt="">
         </div>
         <div style="margin-top:130px;" class="text-center">
            <h1 class="text-center text-white fw-bold">
               Contact Us
            </h1>
         </div>
         <div class="ma text-center position-absolute">
            <img src="{% static 'images/mysite/s.png' %}" class="r-s-logo img-fluid" alt="">
         </div>
      </div>
   </div>
</section>
{% endblock header %}
{% block main %}
<section class="mt-5 mb-5">
   <div class="container">
      <div class="row d-flex align-items-center">
         <div class="col-12 col-md-6 my-1 p-2 d-flex justify-content-center">
            <img src="{% static 'images/mysite/contact.jpg' %}" alt="" class="img-fluid">
         </div>
         <div class="col-12 col-md-6">
            <h3 class="text-primary fw-bold">
               How can we help?
            </h3>
            <p class="mb-3">
               For general inquiries regarding Melbourne Venture Securities or other lines of business, please email
               us at :
               enquiries@melbourneventuresecurities.com
            </p>
            <p class="mb-3">
               For individual and family offices, please email us at :
               contact@melbourneventuresecurities.com
            </p>
            <p class="mb-3">
               For corporations and institutions with revenues between $20 million and $2 billion, please email us at
               :
               contact@melbourneventuresecurities.com

               For careers, please visit the Careers page.

            </p>
            <h5 class="fw-bold">
               Office opening hours : 09:00 - 18:00 Monday to Friday
            </h5>
         </div>
      </div>
   </div>
</section>

<section class="mt-3 mb-5">
   <div class="container">
      <div class="row min-h-100 d-flex align-items-center">
         <div class="col-12 col-md-6 p-3">
            <div>
               <h5 class="fw-bold">Melbourne</h5>
            </div>
            <div class="location-outer col-12 p-3">
               <div class="location-inner-border py-5 px-3">
                  <h3 class="text-black mb-3">Melbourne OFFICE</h3>
                  <p class="mb-3">
                     <span>
                        <i class="fa-solid fa-house-user pe-2 text-large h4"></i>
                     </span>
                     Nauru House
                     Floor 48
                     109 Little Collins St
                     Melbourne VIC 3000
                  </p>
               </div>
            </div>
            <div class="location-outer col-12 p-3 d-flex justify-content-center">
               <img style="width:60%" src="{% static 'images/mysite/melbourne.png' %}" alt="sydney" class="img-fluid" />
            </div>
         </div>
         <div class="col-12 col-md-6 p-3">
            <div>
               <h5 class="fw-bold">Sydney</h5>
            </div>
            <div class="location-outer col-12 p-3">
               <div class="location-inner-border py-5 px-3">
                  <h3 class="text-black mb-3">Sydney OFFICE</h3>
                  <p class="mb-3">
                     <span>
                        <i class="fa-solid fa-house-user pe-2 text-large h4"></i>
                     </span>
                     Floor 9
                     2 Park Street,
                     Sydney, NSW 2000
                  </p>
               </div>
            </div>
            <div class="location-outer col-12 p-3 d-flex justify-content-center">
               <img style="width:72%" src="{% static 'images/mysite/sydney.jpg' %}" alt="sydney" class="img-fluid" />
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock main %}