{% load static %}
<footer>
   <div class="container p-5">
      <div class="row d-flex align-items-center justify-content-center">
         <div class="col-12 col-md-6 text-center">
            <a class="navbar-brand" href="{% url "pages:about" %}">
               <div class="align-items-center">
                  <img style="width:200px;" src="{% static 'images/mysite/logo.png' %}" />
               </div>
            </a>
         </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
         <img class="footer-s img-fuild" src="{% static 'images/mysite/s.png' %}" />
      </div>
      <div class="row d-flex align-items-center justify-content-center">
         <div class="col-12 col-md-6 text-center">
            <div class="text-white">
               Copyright © 2021 MVS Pty Ltd. All rights reserved.
            </div>
            <div class="text-white">
               Privacy Terms of use Cookie policy
            </div>
         </div>
      </div>
</footer>